---
layout: default
---
<div class="page_title"><h1>Projects</h1></div>
<div class="project_div">
	<a href="https://github.com/kferko/MediaPlayer"><div class="project_image jukebox_bg">
	</div></a>
	<div class="project_description">
		A Jukebox Javascript object that can take in playlists.
	</div>
</div>
<div class="project_div">
	<a href="https://github.com/stevenrayesky/sass_toolkit"><div class="project_image sass_bg">
	</div></a>
	<div class="project_description">
		A simple sass toolkit that comes with a responsive grid system.
	</div>
</div>
<div class="project_div">
	<a href="https://github.com/stevenrayesky/pirate_ships_project"><div class="project_image pirate_bg">
	</div></a>
	<div class="project_description">
		Ruby on Rails pirate game during NYCDA Intensive Course. Argh!
	</div>
</div>
<div class="project_div">
	<a href="https://github.com/kmccloskey/microblog"><div class="project_image mumblr_bg">
	</div></a>
	<div class="project_description">
		Micro blog app built on Sinatra framework. All posts are mumble-fied(every other vowel removed).
	</div>
</div>
<div class="project_div">
	<a href="https://github.com/richardmable/vacations_to_mars"><div class="project_image mars_bg">
	</div></a>
	<div class="project_description">
		Fictional business website booking trips to Mars.
	</div>
</div>
<div class="project_div">
	<a href="https://github.com/stevenrayesky/Caw-Blog"><div class="project_image caw_bg">
	</div></a>
	<div class="project_description">
		Ruby on Rails blogging app that used a database of users, posts, comments, and followers.
	</div>
</div>
<div class="project_div">
	<a href="https://github.com/kylensmith/demo-causes"><div class="project_image cause_bg">
	</div></a>
	<div class="project_description">
		A simple website to represent a fictitious charity or cause.
	</div>
</div>